@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.dropdown {
  position: relative;
  width: 100%;

  &-trigger {
    @include button-reset;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    border: 1px solid $border-color;
    background-color: $background-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: border-color $transition-fast;
    font-size: $font-size-base;

    &:hover {
      border-color: $primary-color;
    }

    &:focus-visible {
      @include focus-ring;
    }
  }

  &-icon {
    transition: transform $transition-fast;
    color: $text-secondary;
    flex-shrink: 0;

    &.open {
      transform: rotate(180deg);
    }
  }

  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: $spacing-xs;
    background-color: $background-white;
    border: 1px solid $border-color;
    box-shadow: $shadow-lg;
    z-index: $z-dropdown;
    max-height: 200px;
    overflow-y: auto;
  }

  &-item {
    @include button-reset;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    text-align: left;
    font-size: $font-size-base;
    color: $text-primary;
    transition: background-color $transition-fast;
    cursor: pointer;

    &:hover {
      background-color: $background-light;
    }

    &.selected {
      background-color: $background-light;
      font-weight: $font-weight-medium;
    }
  }
}

