@use 'sass:color';
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  
  .circular-gallery:active {
    cursor: grabbing;
  }
}



