@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.rating {
  display: flex;
  align-items: center;
  gap: $spacing-xs;

  &-stars {
    display: flex;
    gap: 2px;
  }

  &-star {
    color: #fbbf24;
    flex-shrink: 0;

    &-empty {
      color: $border-color;
    }
  }

  &-count {
    font-size: $font-size-sm;
    color: $text-secondary;
  }
}

