@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-white;
}

.layout-main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

