@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-white;
  padding-inline: 5vw;
}

.layout-main {
  width: 100%;
  max-width: 1400px;
  display: grid;
  align-content: start;
  gap: $spacing-2xl;
}

