@use 'sass:color';
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.button {
  @include button-reset;
  padding: $spacing-sm $spacing-lg;
  border-radius: $radius-md;
  font-weight: $font-weight-medium;
  transition: all $transition-slow;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-sm;
  
  &.primary {
    background-color: $primary-color;
    color: $background-white;
    
    &:hover:not(:disabled) {
      background-color: color.scale($primary-color, $lightness: -10%);
    }
  }
  
  &.secondary {
    background-color: $secondary-color;
    color: $text-primary;
    
    &:hover:not(:disabled) {
      background-color: color.scale($secondary-color, $lightness: -5%);
    }
  }
  
  &.underline-arrow {
    border: none;
    background: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: 0;

    .button-underline-text {
      height: 100%;
      letter-spacing: 4px;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      padding-right: 1rem;
      text-transform: uppercase;
      position: relative;
      color: $text-primary;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: $text-primary;
        transform-origin: bottom right;
        transition: transform $transition-slow;
      }
    }

    .button-arrow {
      // max-width: 32px;
      // max-height: 32px;
      transform: rotate(-45deg);
      transition: all $transition-slow;
    }

    &:hover {
      .button-underline-text::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .button-arrow {
        transform: rotate(0deg);
      }
    }

    &:active {
      .button-arrow {
        transform: scale(0.9);
      }
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

